showmem
compile
depcomp
libtool
missing
ltmain.sh
install-sh
packages/*
autom4te.cache/*
gl/.libs/*
aclocal.m4
*.o
*.lo
*.la
src/.deps/*
src/Makefile.in
src/Makefile
src/avmount
src/avmount.service
src/search_help.h
src/test_upnp
configure
config.h*
config.guess
config.log
config.status
config.sub
Makefile
Makefile.in
stamp-h1
test-driver
